@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sale-card-container {
  display: flex;
  flex-direction: row;
  padding: 0.5%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.sale-card {
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: auto;
  width: 300px;
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms ease-in-out;
  border-bottom: 3px solid red;
}

.sale-card > h1 {
    color: #DA221E;
    margin: 8px;
    margin-top: 2px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

.sale-card > button {
    margin: 15px;
    padding: 8px;
    width: 30%;
    color: #DA221E;
    border: 2px solid #DA221E;
    border-radius: 5px;
  }

.sale-card > p {
    font-size: 20px;
    margin: 15px;
    margin-top: 0px;
    line-height: 25px;
  }

.sale-card > a > img {
    width: 100%;
   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: -5px;
    border-bottom-right-radius: -5px;
  }

.sale-card:hover {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.6em 0.6em 2em rgba(0, 0, 0, 0.3);
}

.sale-card:hover > h1 {
  color: #C41E1B;
}

.sale-card > button {
  background-color: rgba(0,0,0,0);
  transition: all 150ms ease;
}

.sale-card > button:hover {
  box-shadow: rgba(255,0,0,0.5) 0px 7px 15px 0px;
  cursor: pointer;
}

.sale-card > button:active {
  box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 100ms;
}

/* .sale-card > button:hover { */
/*   box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), /* 0 0 0 2px rgb(255, 255, 255),  */0em 0.6em 2em rgba(0, 0, 0, 0.3); */
/* } */

@media only screen and (max-width: 800px) {
  .sale-card {
    width: 400px;
  }
}

